.collection1 {
    position: absolute;
    left: 210px;
    top: 340px;
}

.collection2 {
    position: absolute;
    left: 590px;
    top: 450px;
}

.collection3 {
    position: absolute;
    left: 700px;
    top: 380px;
}

.instagram {
    position: absolute;
    left: 1200px;
    top: 500px;
}

.tiktok {
    position: absolute;
    left: 1190px;
    top: 530px;
}